@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background: $hydra;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.interface {
  display: flex;
  flex-direction: column;
}
.header__heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 64px;
  align-items: center;
  text-align: center;
  margin-bottom: 64px;
}
.glass {
  background-image: url("../assets/img/water-glass.svg");
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  &__counter {
    align-self: flex-end;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 131px;
    color: #000000;
  }
}

.add {
  background: #ffffff;
  width: 216px;
  height: 47px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-bottom: 34px;
  &__paragraph {
    justify-content: center;
    align-self: center;
  }
}

.remove {
  font-family: "Roboto", sans-serif;
  width: 184px;
  height: 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  border: none;
  padding: 0;
  background: none;

  color: #f5e5e7;
  background: $hydra;
  &__paragraph {
    justify-content: center;
    align-self: center;
  }
}
